.page__header {
    max-width: 100%;
    margin: 45px auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);  
    padding-bottom: 32px;
}


@media screen and (max-width: 1023px) {
    .page__header {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .page__header {
        max-width: 100%;
        margin-top: 28px;
        padding-bottom: 27px;
    }
}