.popup__form {
    width: 100%;
    outline: 1px solid hotpink;
    background-color: #fff;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    border-radius: 10px;


}


    /*
    .popup__form {
        width: 430px;
        border-radius: 10px;
        background-color: #fff;
        box-sizing: border-box;
        padding-top: 34px;
        padding-right: 36px;
        padding-bottom: 37px;
        padding-left: 36px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
      }
      
      @media screen and (max-width: 767px) {
        .popup__form {
          width: 282px;
          padding-top: 25px;
          padding-right: 22px;
          padding-bottom: 25px;
          padding-left: 22px;
        }
      }
      */