.footer__content {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}


@media screen and (max-width: 767px) {
    .footer__content {
      font-size: 14px;
      line-height: 17px;
    }
}