.element {
    background-color: #fff;
    border-radius: 10px;
    max-width: 282px;
}

  
@media screen and (max-width: 1023px) {
    .element {
      max-width: 430px;
      object-fit: cover;
    }
}

@media screen and (max-width: 767px) {
  .element {
    max-width: 100%;
  }
}

